<header class="site-header">
  <div class="site-identity">
    <h1><a href="#">Blog App</a></h1>
  </div>
  <nav class="site-navigation">
    <ul class="nav">
      <li><a href="/">Create Blog</a></li>
      <li><a href="/home">View All Blogs</a></li>
      <!-- <li><a href="#">Contact</a></li> -->
    </ul>
  </nav>
</header>
